.backgroundColor{
    background-color: #002E5D;
}
.footerProducts_h3{
    color:#FF8C00;
    text-align: center;
}
.footerContact_h3{
    color:#FF8C00;
    text-align: center;
}
.footerIcon{
    color:#FF0000;
}
.footerLi{
    color: white;
}